<nav class="bg-black w-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">

      <div class="flex space-x-6 text-white font-bold text-sm uppercase overflow-x-auto justify-center items-center flex-grow">
        <a href="{% url 'kolko_i_krzyzyk' %}" class="hover:text-gray-200 whitespace-nowrap">Kółko i krzyżyk</a>
        <a href="{% url 'snake' %}" class="hover:text-gray-200 whitespace-nowrap">Snake</a>
        <a href="{% url 'tetris' %}" class="hover:text-gray-200 whitespace-nowrap">Tetris</a>
        <a href="{% url 'unity_vr' %}" class="hover:text-gray-200 whitespace-nowrap">Unity VR</a>
      </div>

      <div class="hidden md:flex items-center bg-white-700 rounded-md px-3 py-1 ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
          <label>
              <input
                type="text"
                placeholder="SZUKAJ GRY"
                class="bg-transparent placeholder-white text-white text-sm focus:outline-none ml-2"
              />
          </label>
      </div>
    </div>
  </div>
</nav>